/* ALLSTON: EDITS START HERE */

/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* BODY CSS */
body {
     padding: 20px;
     text-align: center;
}

/* PROJECT CLASS CSS */
.project {
     margin-left: 20px;
}

/* find project class, then in project class, find all p elements */
/* .project = project class, #project = project id */
.project p {
     font-variant: small-caps;
}

/* JUMBOTRON CLASS CSS */
.jumbotron {
	position: relative;
	background: none;
}

/* JUMBOTRON CLASS CSS AFTER CLICKED */
.jumbotron:after {
     content:"";
     background: url("http://lorempixel.com/1140/283");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;
}



/* SIGN UP FORM CSS */

* {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Full-width input fields with focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* HR CSS */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #000000;
  width: 10%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

/* BUTTON HOVER CSS */
button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: center;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
  text-align: center;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

/* BOX CLASS CSS */
.box {
    float: left;
    width: 150px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid black;
}

/* ARROW CSS */
i {
     border: solid black;
     border-width: 0 3px 3px 0;
     display: inline-block;
     padding: 3px;
}

/* RIGHT CLASS CSS */
.right {
     transform: rotate(-45deg);
     -webkit-transform: rotate(-45deg);
     float: left;
     margin-left: 10px;
     margin-top: 10px;
     padding: 5px;
}

/* LEFT CLASS CSS */
.left {
     transform: rotate(135deg);
     -webkit-transform: rotate(135deg);
     float: left;
     margin-left: 10px;
     margin-top: 10px;
     padding: 5px;
}

/* FAVORITE BUTTON CSS */
.favoritebtn {
     padding: 14px 20px;
     background-color: #ffbe00;
}

/* DELETE BUTTON CSS */
.deletebtn {
     padding: 14px 20px;
     background-color: #f44336;
}

/* QUESTIONNAIRE NUMBER BUTTON CSS */
.number-button {
  background-color: #000000;
  width: 10%;
}

/* ORGANIZAITON/FRATERNITY BUTTON */
.org-btn {
  background-color: #000000;
  width: 10%;
}

/* SUBMIT BUTTON CSS */
.submitbtn {
  background-color: #000000;
  width: 10%;
}



/* MATCHES PAGE CSS */
/* ORGANIZATION/FRATERNITY BOX CSS */
.org-box {
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid gray;
  display: inline-block;
}

/* HOMEPAGE BUTTON CSS */
.homepage-btn {
  background-color: #000000;
  width: 10%;
}

/* RESET PASSWORD BUTTON CSS */
.reset-password-btn {
  background-color: #000000;
  width: 10%;
}

/* SIDEBAR CLASS CSS */
.sidebar {
    font-family: "Lato", sans-serif;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* SIDEBAR CLASS WITH A ATTRIBUTES CSS */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* SIDEBAR CLASS WITH A ATTRIBUTES ON HOVER CSS */
.sidebar a:hover {
    color: #f1f1f1;
}

/* SIDEBAR CLASS AND CLOSE BUTTON CLASS CSS */
.sidebar .closebtn {
    width: 20%;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* OPEN BUTTON CLASS CSS */
.openbtn {
    width: 10%;
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 5px;
    border: none;
}

/* OPEN BUTTON CLASS ON HOVER CSS */
.openbtn:hover {
    background-color: #444;
}

/* MAIN ID CSS*/
#main {
    transition: margin-left .5s;
    padding: 1px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
/* this is where the css for the side bar ends */



/* ORG PAGE CSS */
table {
  table-layout: fixed;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
/* ALLSTON: EDITS END HERE */
